@import "../../styles/common.scss";

.header {
  position: fixed;
  top: 10px;
  right: 15px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.headerTitle {
  font-size: 1.5em;
  margin: 20px;
  color: white;
  cursor: pointer;
  &:hover {
    color: $primaryColor;
  }
}
