.header {
  position: fixed;
  top: 10px;
  right: 15px;
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: stretch;
}

.headerTitle {
  font-size: 1.5em;
  margin: 20px;
  color: white;
  cursor: pointer;
}
