.Footer {
  flex-shrink: 0.3;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerContent {
  padding: 10px;
}

.godori {
  cursor: pointer;
}
