.App {
  text-align: center;
}

.textInput {
  margin: 20px;
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 1em;
  text-align: center;
}
.hexLabel {
  margin: 12px;
  font-size: 0.7em;
}

.sampleRect {
  width: 30px;
  height: 30px;
  background-color: beige;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.previewCanvas {
  background-color: #fff;
}

.downbutton:hover {
  background-color: salmon;
}

.downbutton {
  width: 240px;
  height: 60px;
  color: #fff;
  font-size: 0.8em;
  background-color: tomato;
  border: none;
  margin: 8px;
  text-decoration: none;
  line-height: 60px;
}

.paletteWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.huePicker {
  padding: 20px;
}
