.App {
  text-align: center;
}

.textInput {
  margin: 20px;
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 1em;
  text-align: center;
}
.hexLabel {
  margin: 10px;
  font-size: 0.8em;
}

.sampleRect {
  width: 40px;
  height: 40px;
  background-color: beige;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.previewCanvas {
  background-color: #fff;
}

.downbutton:hover {
  background-color: salmon;
}

.downbutton {
  width: 240px;
  height: 60px;
  color: #fff;
  font-size: 0.8em;
  background-color: tomato;
  border: none;
}

.paletteWrapper {
  padding-bottom: 20px;
}
